<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
      <style>
        div.center {
          text-align: center;
        }
      </style>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="center">
        <div class="header clearfix">
          <nav>
            <!--If you really want buttons or a top bar-->
          </nav>
        </div>
        {% block body %}
        {% endblock %}
        <footer class="footer">
          <p>© Athena</p>
        </footer>
      </div>
    </div> <!-- /container -->
  </body>
</html>